:root{	/* Making a colour table for easy editing and colour adjustments */
    --darkgreen: #00843E;
    --washedgreenish: #ccffcc; /* Used for the attributions div */
    --accent: #336666; /* Websafe: #336666, actual one: #2d676f */
    --secondaryaccent: #663333; /* Websafe: #663333 */
    --clickaccent: #666633;
    --bodycolor: #fefefe;
}

.aboutmeintro {
  height: 100vh; /* Makes it occupy the whole screen at the start */
  position: relative;
  background-color: var(--darkgreen);
  z-index: -1;
  border-bottom: 4px solid var(--secondaryaccent);
}

h1 {
  font-size: 7vmin;
  margin-top: 80px;
  margin-left: 5%;
  margin-right: 15%;
  text-align: left;
  color: black;
  font-family: p22-underground, sans-serif;
  font-weight: 900;
  font-style: normal;
}

p { /* Defining the general paragraph style */
  margin-left: 10%;
  margin-right: 10%;
  color: black;
  font-family: brandon-grotesque,sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 120%;
}

body { /* Defining the general style of the website */
  background-color: var(--bodycolor); /* White */
  margin-left: 0px;
  padding-left: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  font-size: 140%;
}


/* Navbar styling */

.navbar {
  background-color: var(--bodycolor);
  border-bottom:5px solid var(--darkgreen);
  padding-left: 0;
  padding-top: 0;
  padding-bottom: 0;
}

.navbar-brand {
  padding-top: 0;
  padding-bottom: 0;
}

.navbar-brand image {
  padding: 0px;
}

.navbar-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 0, 0, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.nav-link {
  color: black;
  font-family: p22-underground, sans-serif;
  font-size: 1.7rem;
  padding-top: 0rem;
  padding-bottom: 0rem;
}

.nav-link:hover {
  color: var(--darkgreen);
  text-decoration: underline;
}

.nav-link.active {
  color: var(--darkgreen);
  font-weight: bold;
}

.imagelink:hover { /* Makes the images non underlined when hovering */
  text-decoration: none;
}


/* Smooth-scroll when clicking something */
html {
  scroll-behavior: smooth;
}