:root {
  /* Making a colour table for easy editing and colour adjustments */
  /* Used for the attributions div */
  --accent: #2E9960;
}

.introcontents {
  position: absolute;
  bottom: 0;
  width: 80%;
  margin-bottom: 100px;
}

h1 {
  font-size: 7vmin;
  margin-top: 80px;
  margin-left: 5%;
  margin-right: 15%;
  text-align: left;
  color: var(--accent);
  font-family: 'Noto Sans JP', sans-serif;
  font-weight: 900;
  font-style: normal;
}

p {
  /* Defining the general paragraph style */
  margin-left: 10%;
  margin-right: 10%;
  color: black;
  font-family: 'Noto Sans JP', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 120%;
}

body {
  /* Defining the general style of the website */
  background-color: var(--bodycolor);
  /* White */
  margin-left: 0px;
  padding-left: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  font-size: 140%;
}

/* Styling links */
a {
  /* Inactive */
  text-decoration: none;
  /* Makes the links not underlined */
  color: #29A2A6;
  font-weight: bold;
  /* Monokai-blue */
}

a:hover {
  /* When hovering */
  text-decoration: underline;
}

/* Smooth-scroll when clicking something */
html {
  scroll-behavior: smooth;
}