:root{	/* Making a colour table for easy editing and colour adjustments */
    --darkgreen: #00843E;
    --washedgreenish: #ccffcc; /* Used for the attributions div */
    --accent: #336666; /* Websafe: #336666, actual one: #2d676f */
    --secondaryaccent: #663333; /* Websafe: #663333 */
    --clickaccent: #666633;
    --bodycolor: #fefefe;
}


a {
  font-weight: bold;
}

body {
  background-color: var(--bodycolor); 
  margin-left: 0px;
  padding-left: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  font-size: 140%;
  position: relative;
}

h1 {
  font-size: 3rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-left: 5%;
  text-align: left;
  color: black;
  font-family: p22-underground, sans-serif;
  font-weight: 900;
  font-style: normal;
}

p {
  margin-left: 5%;
  color: black;
  font-family: brandon-grotesque,sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 120%;
}

.container-fluid {
  display:block;
}

/* List of subjects */
.list-group-item {
  margin-left: 5%;
  margin-right: 10%;
  color: black;
  font-family: brandon-grotesque,sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 120%;
}


/* Top navbar styling */
.navbar {
  background-color: var(--bodycolor);
  border-bottom: 5px solid var(--darkgreen);
  padding-left: 0;
  padding-top: 0;
  padding-bottom: 0;
}

.navbar-brand {
  padding-top: 0;
  padding-bottom: 0;
}

.navbar-brand image {
  padding: 0px;
}

.navbar-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 0, 0, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.nav-link {
  color: black;
  font-family: p22-underground, sans-serif;
  font-size: 1.7rem;
  padding-top: 0rem;
  padding-bottom: 0rem;
}

.nav-link:hover {
  color: var(--darkgreen);
  text-decoration: underline;
}

.nav-link.active {
  color: var(--darkgreen);
  font-weight: bold;
}

.imagelink:hover { /* Makes the images non underlined when hovering */
  text-decoration: none;
}


/* Secondary navbar */
.bd-toc {
  position: sticky;
  overflow-y: auto;
  top: 6rem;
  height: calc(100vh - 6rem);
}

.toc-entry a {
  color: black;
  font-family: p22-underground, sans-serif;
  font-weight: normal;
}


.sidenav-link {
  color: black;
  font-family: p22-underground, sans-serif;
  font-size: 1.7rem;
  padding-top: 0rem;
  padding-bottom: 0rem;
}

.sidenav-link.active {
  font-weight: bolder;
}

.sidenav-link:hover {
  text-decoration: none;
}

#intronav:hover {
  color: #D11594;
}

#academicsnav:hover {
  color: #6B2C91;
}

#skillsnav:hover {
  color: #0066FF;
}

#morenav:hover {
  color: #55CDFC;
}

.section-nav li {
  text-align: right;
}

ul {
  list-style-type: none;
}


/* Smooth-scroll when clicking something */
html {
  scroll-behavior: smooth;
}

/* Padding before a link so the div isn't hidden by top navbar */
span:before {
  height: 4.2rem;
  content: "";
  display:block;
}