.indexNav {
}

.indexNavUl {
  list-style-type: none;
  padding-left: 0em;
}

.indexNavLi {
  margin: 1em 0;
}

a {
  color: #000000;
  text-underline-offset: 4px;
}
a:hover {
  text-decoration: underline;
  text-decoration-color: #128743;
}
a:focus {
  margin: 0px;
  border: 0px;
  box-shadow: none;
}
